.modal::-webkit-scrollbar {
    width: 10px;
}

.modal::-webkit-scrollbar-track {
    background-color: transparent;
    border: none;
}

.modal::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #e1d1d1;
    height: 264px;
}
